@import "./../utils/vars.scss";

.advantages {
  background-color: white;
  padding-bottom: 94px;
  padding-top: 94px;
}

.advantages__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    color: #757575;
  }
}

.advantages__item:not(:last-child) {
  padding-right: 30px;
}

.advantages__icon {
  background-color: getColor("background-tertiary");
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
